.btnContact {
  margin-top: 12px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btnContact:hover {
  background-color: #0056b3;
}

.iconContact {
    margin-right: 10px;
}
.divContact {
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}